---
import BaseLayout from '@/layouts/BaseLayout.astro'

import { getAdminSession } from '@/lib/better-auth/isAdmin'

import { envClient } from '@/data/env/envClient'
import { postgres } from '@/lib/postgres/index'
import { blog_posts } from '@/lib/postgres/schema'
import { IsPublishedButton } from '@/pages/admin/blog/_IsPublishedButton'

const session = await getAdminSession(Astro.request.headers)
if (session === null) {
  return Astro.redirect('/500')
} else if (session === false) {
  return Astro.redirect('/404')
}

let array
try {
  array = await postgres.select().from(blog_posts)
} catch (error) {
  // NEEDS FIXING
  console.error(error)
  return Astro.redirect('/500')
}
---

<BaseLayout>
  <main class="flex flex-col h-screen justify-center items-center">
    <div class="border border-black rounded-md p-4">
      {
        array.map((blog, index, arr) => (
          <div class={`${index !== arr.length - 1 ? 'mb-4' : ''} flex items-center`}>
            <h2 class={`${blog.image_file ? 'text-green-600' : 'text-red-600'}`}>image</h2>
            <IsPublishedButton client:load title={blog.title} is_published={blog.is_published} />
            <a href={`${envClient.ADMIN_URL}/blog/${blog.title}`} class="hover:text-blue-600">
              <h1>{blog.title}</h1>
            </a>
          </div>
        ))
      }
    </div>
  </main>
</BaseLayout>
